.item-1{
    background: url("../images/001.jpg") top center no-repeat;
    background-size: cover;
}
.item-2{
    background: url("../images/002.jpg") top center no-repeat;
    background-size: cover;
}
.item-3{
    background: url("../images/003.jpg") top center no-repeat;
    background-size: cover;
}
.item-4{
    background: url("../images/004.jpg") top center no-repeat;
    background-size: cover;
}
.item-5{
    background: url("../images/005.jpg") top center no-repeat;
    background-size: cover;
}
.item-6{
    background: url("../images/006.jpg") top center no-repeat;
    background-size: cover;
}
.item-7{
    background: url("../images/007.jpg") top center no-repeat;
    background-size: cover;
}
.item-8{
    background: url("../images/008.jpg") top center no-repeat;
    background-size: cover;
}